@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .clip-marker {

    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);  
    margin: 5px;
  
  }


  .clip-your-needful-style {
    
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw)); */
    clip-path: url(#myClip);
    
  }
}
